<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="./NLog.ERROR.log">
  <variable name="LogDir" value="./" />
  <!-- define various log targets -->
  <targets>
    <target xsi:type="File"
            name="logFile-api"
            fileName="${var:LogDir}/NAME.Registry.API.log"
            layout="${longdate} [${threadid:padding=4}] ${level:padding=-5} : ${message} //by// ${logger} //with// ${all-event-properties} || ${exception}"
            archiveNumbering="Date"
            archiveEvery="Hour"
            archiveDateFormat ="yyyyMMddHH.lo\g"
            archiveFileName="${var:LogDir}/NAME.Registry.API.log.{#####}"/>

    <target xsi:type="File"
            name="warnFile-api" fileName="${var:LogDir}/NAME.Registry.API.WARN.log"
            layout="${longdate} [${threadid:padding=4}] ${level:padding=-5} : ${message} //by// ${logger} //with// ${all-event-properties} || ${exception}"
            archiveNumbering="Date"
            archiveEvery="Hour"
            archiveDateFormat ="yyyyMMddHH.lo\g"
            archiveFileName="${var:LogDir}/NAME.Registry.API.WARN.log.{#####}"/>

    <target xsi:type="File"
            name="completeFile-api"
            fileName="${var:LogDir}/NAME.Registry.API.Complete.log"
            layout="${longdate} [${threadid:padding=4}] ${level:padding=-5} : ${message} //by// ${logger} //with// ${all-event-properties} || ${exception}"
            archiveNumbering="Date"
            archiveEvery="Hour"
            archiveDateFormat ="yyyyMMddHH.lo\g"
            archiveFileName="${var:LogDir}/NAME.Registry.API.Complete.log.{#####}"/>

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--<logger name="*" minLevel="Trace" writeTo="completeFile-api" />-->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="Quartz.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Info" writeTo="logFile-api" />
    <logger name="*" minLevel="Warn" writeTo="warnFile-api" />
  </rules>
</nlog>